<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ SITENAME }}</title>
    <meta name="author" content="{{ AUTHOR }}" />
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/syntax.css" type="text/css" />
    <!-- Homepage CSS -->
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/screen.css" type="text/css" media="screen, projection" />
  </head>
  <body>
    <!-- ClickTale end of Top part -->
    <div class="site">
      <div class="title">
        <a href="/">{{ SITENAME }}</a>
        <a class="extra" href="/">home</a>
      </div>

      {% block content %}{% endblock content %}

      <div class="footer">
        <div class="contact">
          <p>
            &copy;&nbsp;2025&nbsp;{{ AUTHOR }}<br />
            Theme and code from <a href="https://github.com/mojombo">Tom
              Preston-Werner</a> and <a href="https://github.com/joearms">Joe Armstrong</a>.<br /> Hosted by
            <a href="https://github.com/avli/avli.github.io/">GitHub</a>
            and powered by <a href="http://blog.getpelican.com/">Pelican</a>.
          </p>
        </div>
      </div>
    </div>
    
  </body>
</html>
